**/__pycache__/
.cache/
**/.DS_Store
*.sh
*.pt
*.dat
*.pth
out/*
*.npz
ffhq.pkl
model_ir_se50.pth
out
encoder4editing/e4e_ffhq_encode.pt
encoder4editing/shape_predictor_68_face_landmarks.dat
encoder4editing/projected_w.npz
# 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
